/* ==========================================================================
  Settings: Colors
  Only define colors here. Don't use sass color functions, stick to hex values,
  or the color component in styleguide won't regenerate automatically anymore.
 ========================================================================== */

/* Grays - Defaults for any project
 ========================================================================== */

$light-black: #222;
$dark-gray: #444;
$medium-gray: #5d5d5d;

$color-gray-50: #edeff2;
$color-gray-100: #d6dee3;
$gray-100: #f8f9fa !default;
$color-gray-150: #bac7d1;
$color-gray-200: #9cafbd;
$gray-200: #e9ecef !default;
$color-gray-300: #7894a7;
$gray-300: #dee2e6 !default;
$color-gray-400: #557891;
$gray-400: #ced4da !default;
$color-gray-500: #45647b;
$gray-500: #adb5bd !default;
$color-gray-600: #385265;
$gray-600: #868e96 !default;
$color-gray-700: #2b414f;
$gray-700: #495057 !default;
$color-gray-800: #1d2b35;
$gray-800: #343a40 !default;
$color-gray-900: #0f171d;
$gray-900: #212529 !default;
$color-gray-1000: #000000;
$dark: #224b5a;
$white: #fff;
$black: #111;

/* Key colors
  ========================================================================== */

$color-blue: #30c2ff;
$dark-blue: #00549e;
$blue: #3490dc;
$light-blue: #3980ec;

$d-color-blue-light: #47a3f3;
$d-color-blue: #2186eb;
$d-color-blue-dark: #0967d2;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$light-green: #a3cc3e;
$dark-green: #94b93a;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* ==========================================================================
  Theme Colors:

  Once colors are defined, use _c-semantic-colors 
  to define primary, secondary, etc
 ========================================================================== */
